@charset "UTF-8";
/* v2.0 | 20110126
  http://meyerweb.com/eric/tools/css/reset/ 
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

/*
_reset.scss 
reset.scss파일을 생성하고 컴파일하면 sass는 reset.css로 변환하고 
이 파일을 style.css에 import한다.
_reset.scss 파일을 생성하면 scss에서 css로 변환하는 작업을 무시한다.

_언더바를 넣어서 css가 생성되지 않은 css파일은
common.scss파일에서 불러와야 적용이 된다. 

*/
@font-face {
  font-family: "genesis-light";
  src: url(../../fonts/GenesisSansHeadOffice-Light.woff2) format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "genesis-re";
  src: url(../../fonts/GenesisSansHeadOffice-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "genesis-text";
  src: url(../../fonts/GenesisSansTextOffice-Regular.woff2) format("woff2");
  font-weight: 300;
  font-style: none;
}
.inner {
  width: 100%;
  height: 100%;
  padding: 0px 140px;
  box-sizing: border-box;
  position: relative;
  top: 0px;
  left: 0px;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  border: none;
  z-index: -1;
}

body, html {
  font-size: 10px;
  font-family: "genesis-light", "sans-serif"; /*$title : 'genesis-light', 'sans-serif';*/
  line-height: 1;
  letter-spacing: -1.5px;
}

.header-container {
  width: 100%;
  height: 70px;
  background: #000000;
  /*inner*/
}
.header-container .inner {
  display: flex;
  align-items: center;
  /*.gnb*/
  /*.h-right*/
}
.header-container .inner .logo {
  width: 128px;
  margin-right: 70px;
}
.header-container .inner .gnb {
  height: 100%;
}
.header-container .inner .gnb .gnb-list {
  display: flex;
  gap: 60px;
  height: 100%;
}
.header-container .inner .gnb .gnb-list a {
  display: flex;
  align-items: center; /*line-height*/
  height: 100%;
  color: #bbbbbb; /*#bbbbbb*/
  font-size: 15px;
  transition: 0.3s;
}
.header-container .inner .gnb .gnb-list a:hover {
  color: #ffffff;
}
.header-container .inner .h-right {
  margin-left: auto;
  display: flex;
  height: 100%;
}
.header-container .inner .h-right a {
  color: #bbbbbb;
  font-size: 15px;
  display: flex;
  align-items: center;
  height: 100%;
  transition: 0.3s;
}
.header-container .inner .h-right a:hover {
  color: #ffffff;
}
.header-container .inner .h-right img {
  display: none;
}
.header-container .inner .h-right .cs-link,
.header-container .inner .h-right .my-link {
  margin-right: 20px; /*마지막 요소 간격이 달라서*/
}
.header-container .inner .h-right .search-btn {
  width: 25px;
  height: 100%;
  background: url(../../images/icon-search-small.png) no-repeat center center;
}
.header-container .inner .h-right .mobile-btn {
  padding: 0px 20px;
  display: flex;
  height: 100%;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
}
.header-container .inner .h-right .mobile-btn i {
  width: 20px;
  height: 2px;
  background: #ffffff;
}

/*재활용성을 위해 밖에*/
.bar {
  width: 1px;
  height: 20px;
  display: block;
  margin: 0px 0px 0px 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(255, 255, 255);
}

.container {
  width: 100%;
  background: #111111;
}

.visual-container {
  width: 100%;
  height: calc(100vh - 70px); /* calculate 계산 */
  min-height: 610px;
  position: relative;
  top: 0px;
  left: 0px;
  /*visual-list*/
  /*.visual-control */
}
.visual-container .visual-list {
  width: 100%;
  height: 100%;
}
.visual-container .visual-list li {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  background: url(../../images/main-visual06.jpg) no-repeat center center/cover;
}
.visual-container .visual-list li .visual-text {
  padding-left: 338px;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 50px; /*margin 상쇄현상*/
}
.visual-container .visual-list li .visual-text:after {
  content: "";
  width: 338px;
  height: 70px;
  box-sizing: border-box;
  border-top: solid 3px #ffffff;
  border-bottom: solid 3px #ffffff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
}
.visual-container .visual-list li .visual-text .sub-text {
  font-size: 20px;
  color: #ffffff;
  font-family: "genesis-text", "sans-serif";
  font-weight: 100;
}
.visual-container .visual-list li .visual-text .title {
  font-size: 80px;
  color: #ffffff;
  margin: 14px 0px;
  font-weight: 300;
}
.visual-container .visual-list li .visual-text .text-link {
  position: absolute;
  bottom: 23%; /* bottom200 / 전체865 * 100% */
  display: flex;
  gap: 60px;
}
.visual-container .visual-list li .visual-text .text-link a {
  color: #ffffff;
  font-size: 16px;
  font-family: "genesis-text", "sans-serif";
  display: flex;
  gap: 8px;
}
.visual-container .visual-list li .visual-text .text-link a:after {
  content: "";
  width: 7px;
  height: 13px;
  display: block;
  background: url(../../images/ico-arrow-white.png) no-repeat center center/7px;
  transform: rotate(180deg);
}
.visual-container .visual-control {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 13.8%;
  display: flex;
  align-items: center;
  gap: 30px;
}
.visual-container .visual-control .dot-list {
  display: flex;
  gap: 20px;
}
.visual-container .visual-control .dot-list li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  border: solid 2px transparent;
  background-clip: padding-box;
  /*
  background-clip 
  배경이미지나 배경 컬러를 영역 어디까지 설정하는지에 정하는 속성
  border-box : 테두리 영역과 그 안쪽(컨텐츠)까지 영역을 채움 
  content-box : 컨텐츠 내용만 영역을 채움
  padding-box : 안쪽 여백 영역만큼만 영역을 채움(border는 제외)
  */
}
.visual-container .visual-control .dot-list li.on {
  border-color: #ffffff;
  background: transparent;
}
.visual-container .visual-control .pause-btn {
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
}
.visual-container .visual-control .pause-btn .bx-play {
  display: none;
}

.model-container {
  padding: 200px 0px 270px 200px;
}
.model-container .title-box {
  margin-bottom: 30px;
}
.model-container .title-box .title {
  font-size: 42px;
  color: #ffffff;
  font-weight: 300;
}
.model-container .title-box .text {
  margin-top: 30px;
  font-size: 16px;
  color: #ffffff;
}
.model-container .category {
  width: 300px;
  margin-bottom: 90px;
  border-bottom: 1px solid #ffffff;
}
.model-container .category a {
  padding: 12px 0px 12px 10px;
  color: #ffffff;
  font-size: 16px;
  display: flex;
}
.model-container .category a:after {
  content: "";
  width: 13px;
  height: 9px;
  background: url(../../images/w-ico-arrow-top.png) no-repeat center center/12px;
  margin-left: auto;
  transform: rotate(180deg);
}
.model-container .category-m {
  width: 100%;
  margin: 50px 0px;
  padding: 0px 30px;
  box-sizing: border-box;
  display: none;
}
.model-container .category-m .category-list {
  display: flex;
}
.model-container .category-m .category-list li {
  width: 33%;
  border-bottom: solid 1px #bbbbbb;
}
.model-container .category-m .category-list li a {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  color: #bbbbbb;
  font-size: 18px;
}
.model-container .category-m .category-list li.on {
  border-color: #ffffff;
}
.model-container .category-m .category-list li.on a {
  color: #ffffff;
}
.model-container .model-wrapper .model-list {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}
.model-container .model-wrapper .model-list li {
  background: #151515;
  padding: 40px;
  position: relative;
  top: 0px;
  left: 0px;
}
.model-container .model-wrapper .model-list li .content-box {
  position: relative;
  top: 0px;
  left: 0px;
  margin-bottom: 50px;
}
.model-container .model-wrapper .model-list li .content-box .text {
  color: #bbbbbb;
  font-size: 16px;
  margin-bottom: 10px;
  min-height: 14px;
  transition: 0.5s;
}
.model-container .model-wrapper .model-list li .content-box .title {
  color: #bbbbbb;
  font-size: 30px;
  transition: 0.5s;
  font-weight: 300;
}
.model-container .model-wrapper .model-list li .content-box .icon-list {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  gap: 10px;
}
.model-container .model-wrapper .model-list li:nth-of-type(1) .content-box .text {
  position: absolute; /* absolute로 title,text 글씨겹침 */
  left: 0px;
  bottom: 0px;
  margin-bottom: 0px;
}
.model-container .model-wrapper .model-list li:nth-of-type(1) .content-box .title {
  padding-bottom: 30px; /* 아래로 밀어내리기 */
}
.model-container .model-wrapper .model-list li .dic-btn {
  width: 100%;
  height: 53px;
  box-sizing: border-box;
  border: solid 2px #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  position: relative;
  top: 0px;
  left: 0px;
  margin-top: 40px;
  transition: 0.5s;
  z-index: 1;
}
.model-container .model-wrapper .model-list li .dic-btn:after {
  content: "";
  width: 0%;
  height: 100%;
  background: #ffffff;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 0.5s;
  z-index: -1;
}
.model-container .model-wrapper .model-list li .dic-btn:hover {
  color: #151515;
}
.model-container .model-wrapper .model-list li .dic-btn:hover:after {
  width: 100%;
}
.model-container .model-wrapper .dot-wrapper {
  display: flex;
  justify-content: center;
}
.model-container .model-wrapper .dot-wrapper .dot-list {
  display: flex;
  align-items: center;
  gap: 16px;
}
.model-container .model-wrapper .dot-wrapper .dot-list li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  border: solid 2px transparent;
  background-clip: padding-box;
}
.model-container .model-wrapper .dot-wrapper .dot-list li.on {
  background: transparent;
  border-color: #ffffff;
}

.icon-container {
  padding: 0px 100px 250px;
}
.icon-container .icon-list {
  display: flex;
  justify-content: center;
}
.icon-container .icon-list li {
  flex-grow: 1;
}
.icon-container .icon-list li a {
  display: flex;
  color: #ffffff;
  background: url(../../images/quitation.gif) no-repeat center top;
  padding-top: 80px;
  justify-content: center;
  font-size: 16px;
}
.icon-container .icon-list li a.icon-sales {
  background: url(../../images/sales.gif) no-repeat center top;
}
.icon-container .icon-list li a.icon-drive {
  background: url(../../images/drive.gif) no-repeat center top;
}
.icon-container .icon-list li a.icon-catalog {
  background: url(../../images/catalog.gif) no-repeat center top;
}

.award-container {
  padding-bottom: 250px;
}
.award-container .title-box {
  padding-left: 330px;
  margin-bottom: 80px;
}
.award-container .title-box .title {
  font-size: 42px;
  color: #ffffff;
  font-weight: 300;
}
.award-container .award-wrapper {
  position: relative;
  top: 0px;
  left: 0px;
}
.award-container .award-wrapper .award-dot {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.award-container .award-wrapper .award-dot .award-dot-list {
  padding-left: 330px;
  display: flex;
  padding-right: 140px;
}
.award-container .award-wrapper .award-dot .award-dot-list li {
  border-top: solid 4px #bbbbbb;
  padding: 14px 0px;
  width: 16.6666666667%;
}
.award-container .award-wrapper .award-dot .award-dot-list li a {
  display: block;
  color: #bbbbbb;
  font-size: 14px;
  width: 80%;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
.award-container .award-wrapper .award-dot .pause-btn {
  width: 60px;
  height: 60px;
  background: url(../../images/ico-pause-default.png) no-repeat center center;
  position: absolute;
  bottom: 0px;
  right: 70px;
  border: solid 2px #bbbbbb;
  border-radius: 50%;
}
.award-container .award-wrapper .award-dot .text-box {
  width: 520px;
  position: absolute;
  left: 0px;
  bottom: 150px;
  padding-left: 330px;
}
.award-container .award-wrapper .award-dot .text-box .content-title {
  font-size: 42px;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 1.5;
  word-break: keep-all; /* 단어대로 줄바꿈 */
}
.award-container .award-wrapper .award-dot .text-box .content-title span {
  display: block;
  font-size: 30px;
}
.award-container .award-wrapper .award-dot .text-box .text {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.9;
}

.option-container {
  padding-bottom: 230px;
}
.option-container .opt-list {
  display: flex;
  gap: 40px;
}
.option-container .opt-list .opt-item {
  position: relative;
  top: 0px;
  left: 0px;
  background: url(../../images/space.jpg) no-repeat center center/cover;
  padding-top: 27.55%;
  height: 0px;
  flex-grow: 1;
}
.option-container .opt-list .trip {
  background-image: url(../../images/roadtrip.jpg);
}

@media screen and (max-width: 1599px) {
  .header-container .inner {
    padding: 0px 100px;
  }
  .header-container .inner .logo {
    width: 100px;
    margin-right: 50px;
  }
  .header-container .inner .gnb .gnb-list {
    gap: 40px;
  }
  .visual-container .visual-list li .visual-text {
    padding: 70px 0px 0px 248px;
  }
  .visual-container .visual-list li .visual-text:after {
    width: 248px;
  }
  .visual-container .visual-list li .visual-text .title {
    font-size: 60px;
  }
  .visual-container .visual-list li .visual-text .text-link a {
    font-size: 14px;
  }
  .visual-container .visual-control .dot-list {
    gap: 12px;
  }
  .visual-container .visual-control .dot-list li {
    width: 6px;
    height: 6px;
  }
  .model-container {
    padding-left: 100px;
  }
  .model-container .inner {
    padding: 0px 100px;
  }
  .model-container .inner .title-box .title {
    font-size: 36px;
  }
  .model-container .inner .title-box .text {
    font-size: 14px;
    margin-top: 14px;
  }
  .model-container .inner .model-wrapper .model-list li {
    padding: 20px;
  }
  .model-container .inner .model-wrapper .model-list li .content-box .text {
    font-size: 14px;
  }
  .model-container .inner .model-wrapper .model-list li .content-box .title {
    font-size: 20px;
  }
  .model-container .inner .model-wrapper .model-list li .dic-btn {
    margin-top: 20px;
  }
  .award-container .title-box .title-box {
    padding-left: 240px;
  }
  .award-container .title-box .award-wrapper .award-dot .award-dot-list {
    padding-left: 240px;
    padding-right: 100px;
  }
  .award-container .title-box .award-wrapper .award-dot .text-box {
    width: 380px;
    padding-left: 240px;
  }
  .award-container .title-box .award-wrapper .award-dot .text-box .content-title {
    font-size: 34px;
  }
  .award-container .title-box .award-wrapper .award-dot .text-box .content-title span {
    font-size: 34px;
  }
  .award-container .title-box .award-wrapper .award-dot .text-box .text {
    font-size: 14px;
  }
  .award-container .title-box .award-wrapper .award-dot .pause-btn {
    right: 30px;
  }
} /* 1599px */
@media screen and (max-width: 1359px) {
  .header-container {
    /*inner*/
  }
  .header-container .inner {
    padding: 0px 75px;
  }
  .header-container .inner .gnb .gnb-list {
    gap: 30px;
  }
  .header-container .inner .gnb a {
    font-size: 14px;
  }
  .header-container .inner .h-right .text {
    display: none;
  }
  .header-container .inner .h-right img {
    display: block;
  }
  .header-container .inner .h-right .my-link {
    width: 17px;
  }
  .visual-container .visual-list li .visual-text {
    padding: 90px 0px 0px 228px;
  }
  .visual-container .visual-list li .visual-text:after {
    width: 228px;
  }
  .visual-container .visual-list li .visual-text .sub-text {
    font-size: 18px;
  }
  .visual-container .visual-list li .visual-text .title {
    font-size: 48px;
  }
  .visual-container .visual-list li .visual-text .text-link a {
    font-size: 12px;
  }
  .visual-container .visual-list li .visual-text .text-link a:after {
    background-size: auto 10px;
  }
  .model-container .inner {
    padding: 0px 75px;
  }
  .model-container .inner .title-box .title {
    font-size: 26px;
  }
  .model-container .inner .title-box .text {
    font-size: 12px;
  }
  .model-container .inner .category {
    margin-bottom: 50px;
  }
  .model-container .inner .model-wrapper .model-list {
    gap: 20px;
    margin-bottom: 20px;
  }
  .model-container .inner .model-wrapper .model-list li .content-box .title {
    font-size: 18px;
  }
  .model-container .inner .model-wrapper .model-list li .content-box .text {
    font-size: 13px;
  }
  .model-container .inner .model-wrapper .dot-wrapper .dot-list {
    gap: 10px;
  }
  .model-container .inner .model-wrapper .dot-wrapper .dot-list li {
    width: 6px;
    height: 6px;
  }
  .award-container .title-box {
    padding-left: 220px;
    margin-bottom: 40px;
  }
  .award-container .title-box .title {
    font-size: 26px;
  }
  .award-container .award-wrapper .award-dot .award-dot-list {
    padding-left: 220px;
    padding-right: 75px;
  }
  .award-container .award-wrapper .award-dot .text-box {
    padding-left: 220px;
    width: 270px;
  }
  .award-container .award-wrapper .award-dot .text-box .content-title {
    font-size: 21px;
  }
  .award-container .award-wrapper .award-dot .text-box .text {
    font-size: 12px;
  }
} /* desktop02 1359px*/
@media screen and (max-width: 1023px) {
  .header-container {
    /*.inner*/
  }
  .header-container .inner {
    padding: 0px 0px 0px 20px;
  }
  .header-container .inner .logo {
    width: 84px;
  }
  .header-container .inner .gnb {
    display: none;
  }
  .header-container .inner .h-right .cs-link,
  .header-container .inner .h-right .search-btn,
  .header-container .inner .h-right .bar {
    display: none;
  }
  .header-container .inner .h-right .my-link {
    margin: 0px;
  }
  .visual-container {
    height: 0px;
    padding-top: 59.62%; /*  610/1023*100 */
    min-height: 0px;
  }
  .visual-container .visual-list {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .visual-container .visual-list li .visual-text {
    padding: 10px 0px 0px 55px;
  }
  .visual-container .visual-list li .visual-text:after {
    display: none;
  }
  .model-container {
    padding-left: 80px;
  }
  .model-container .inner {
    padding: 0px 20px;
  }
  .award-container .title-box {
    padding-left: 100px;
  }
  .award-container .award-wrapper .award-dot {
    position: static;
  }
  .award-container .award-wrapper .award-dot .award-dot-list {
    padding-left: 0px;
    padding-right: 20px;
    margin-top: 30px;
  }
  .award-container .award-wrapper .award-dot .award-dot-list li a {
    font-size: 12px;
    width: 90%;
  }
  .award-container .award-wrapper .award-dot .pause-btn {
    bottom: 130px;
    width: 50px;
    height: 50px;
  }
  .award-container .award-wrapper .award-dot .text-box {
    padding-left: 100px;
    width: 300px;
  }
} /* tablet 1023px*/
@media screen and (max-width: 767px) {
  .visual-container {
    height: calc(100vh - 70px);
    padding-top: 0px;
  }
  .visual-container .visual-list li {
    background-image: url(../../images/visual01-mobile.jpg);
  }
  .visual-container .visual-list li .visual-text {
    padding: 40px 0px 0px 20px;
  }
  .visual-container .visual-list li .visual-text .text-link {
    flex-direction: column;
    gap: 20px;
    bottom: 80px;
  }
  .visual-container .visual-control {
    bottom: 20px;
  }
  .model-container {
    padding-left: 0px;
    overflow: hidden;
    padding-bottom: 100px;
  }
  .model-container .inner {
    padding: 0px;
  }
  .model-container .inner .title-box {
    padding: 0px 30px;
  }
  .model-container .inner .title-box .title .title {
    font-size: 30px;
  }
  .model-container .inner .title-box .title .text {
    font-size: 16px;
  }
  .model-container .inner .category {
    display: none;
  }
  .model-container .inner .category-m {
    display: block;
  }
  .model-container .inner .model-wrapper .model-list {
    gap: 0px;
  }
  .model-container .inner .model-wrapper .model-list li {
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
  }
  .model-container .inner .model-wrapper .model-list li .content-box .title {
    font-size: 25px;
  }
  .model-container .inner .model-wrapper .model-list li .content-box .text {
    font-size: 14px;
  }
  .icon-container {
    padding: 0px;
    padding-bottom: 80px;
  }
  .icon-container .inner {
    padding: 0px;
  }
  .icon-container .inner .icon-list {
    flex-direction: column;
    justify-content: start;
  }
  .icon-container .inner .icon-list li {
    width: 100%;
    border-top: solid 1px rgba(255, 255, 255, 0.5);
    padding-left: 40px;
    box-sizing: border-box;
  }
  .icon-container .inner .icon-list li a {
    justify-content: start;
    background-position: left top 30px;
    padding: 40px;
    background-size: 30px;
    align-items: center;
  }
  .award-container .title-box {
    padding-left: 30px;
    margin-bottom: 60px;
  }
  .award-container .title-box .title {
    font-size: 30px;
  }
  .award-container .award-wrapper {
    overflow: hidden;
  }
  .award-container .award-wrapper .award-dot .award-dot-list {
    padding: 0px 30px;
    overflow: hidden;
  }
  .award-container .award-wrapper .award-dot .award-dot-list li {
    width: 72%;
    flex-shrink: 0;
  }
  .award-container .award-wrapper .award-dot .award-dot-list li:nth-of-type(1) {
    border-top-color: #ffffff;
  }
  .award-container .award-wrapper .award-dot .award-dot-list li a {
    font-size: 14px;
  }
  .award-container .award-wrapper .award-dot .pause-btn {
    display: none;
  }
  .award-container .award-wrapper .award-dot .text-box {
    position: static;
    width: 100%;
    padding: 0px 30px;
    box-sizing: border-box;
    margin-top: 50px;
  }
  .award-container .award-wrapper .award-dot .text-box .content-title {
    font-size: 32px;
  }
  .award-container .award-wrapper .award-dot .text-box .text {
    font-size: 16px;
  }
} /* mobile 767px*//*# sourceMappingURL=common.css.map */